.env
*.env

db.sqlite3
*.sqlite3

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
.Python
.sixth/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
Thumbs.db

# Ignore frontend react development source project
frontend/

# Ignore test and draft python scripts
test_api.py
fix_jsx.py

# Ignore draft markdown files
API_order.md
BP1_BurgerPrintsAgent_Instructions.md
BurgerPrintAPI.md
instruction.md
*.md
!README.md
